.b1-boat {


  .boat-small {
    animation: boat-small 5s 1s forwards;

    &.fade-leave-active {
      transition: opacity 20s;
    }
  }

  @keyframes boat-small {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }
}

.boat-small {
  opacity: 0;
  
  &.fade-leave-active {
    transition: opacity 0s;
  }

}