.b1-forest {

  .tree-1 {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 2.0;
    animation: forest-right ease-in-out 10s 1s infinite;
  }

  .tree-2 {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 2.0;
    animation: forest-left ease-in-out 10s 2s infinite;
  }

  .tree-5 {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 2.0;
    animation: forest-left ease-in-out 10s 5s infinite;
  }

  .tree-7 {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 2.0;
    animation: forest-left ease-in-out 10s 6s infinite
  }

  .tree-8 {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 2.0;
    animation: forest-right ease-in-out 10s 7s infinite
  }


  .tree-1-stop {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 1.5;
    animation: forest-right-stop ease-out 6s 1s alternate forwards;
  }

  .tree-2-stop {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 1.5;
    animation: forest-left-stop ease-out 6s 1s alternate forwards;
  }

  .tree-5-stop {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 1.5;
    animation: forest-left-stop ease-out 6s 1s alternate forwards;
  }

  .tree-7-stop {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 1.5;
    animation: forest-left-stop ease-out 6s 1s alternate forwards;
  }

  .tree-8-stop {
    opacity: 0;
    transform: scale(0.5);
    --scaleStart: 0.5;
    --scaleEnd: 1.5;
    animation: forest-right-stop ease-out 6s 1s alternate forwards;
  }

}

@keyframes forest-right {
0% {
  opacity: 0;
  transform: scale(var(--scaleStart)) translateX(0);
}
10% {
  opacity: 1;
}
50%, 100% {
  transform: scale(var(--scaleEnd)) translateX(50%);
}
}

@keyframes forest-left {
0% {
  opacity: 0;
  transform: scale(var(--scaleStart)) translateX(0);
}
10% {
  opacity: 1;
}
50%, 100% {
  transform: scale(var(--scaleEnd)) translateX(-50%);
}
}

@keyframes forest-right-stop {
  0% {
    transform: scale(var(--scaleStart)) translateX(0);
  }
  100% {
    transform: scale(var(--scaleEnd)) translateX(25%);
  }
  }
  
  @keyframes forest-left-stop {
  0% {
    transform: scale(var(--scaleStart)) translateX(0);
  }
  100% {
    transform: scale(var(--scaleEnd)) translateX(-25%);
  }
  }