.go-to-shore {
  position: relative;
  background-color: white;
  overflow: hidden;
  height:100%;

  .branch {
    position: absolute;
  }

  .water {
    position: absolute;
  }

  .aha {
    position: absolute;
  }

}