.octopus-tree {
  position: relative;
  background-color: white;
  overflow: hidden;
  height:100%;


  .tree {
    position: absolute;
  }

  .parts {
    position: absolute;
  }

  .face {
    position: absolute;
  }

  .beard {
    position: absolute;
  }

}