.b1-sister {

  .background {
    position: absolute;
  }

  .parents {
    position: absolute;
  }

  .body {
    position: absolute;
  }

  .face {
    position: absolute;
  }

  .branch {
    position: absolute;
  }


}