.b1-tools {

  .saw {
    position: absolute;
  }

  .patch {
    position: absolute;
  }

  .paint {
    position: absolute;
  }

  .magnifier {
    position: absolute;
  }

  .code-of-law {
    position: absolute;
  }

  .gold {
    position: absolute;
  }

}