.tools {
  position: relative;
  background-color: white;
  overflow: hidden;
  height:100%;


  .saw {
    position: absolute;
  }

  .patch {
    position: absolute;
  }

  .paint {
    position: absolute;
  }

  .magnifier {
    position: absolute;
  }

  .code-of-law {
    position: absolute;
  }

  .gold {
    position: absolute;
  }

}