.gate {
  position: relative;
  background-color: white;
  overflow: hidden;
  height:100%;

  .tree-1{
    position: absolute;
  }

  .tree-2 {
    position: absolute;
  }

  .root{
    position: absolute;
  }

  .entry {
    position: absolute;
  }

}