.sister {
  position: relative;
  background-color: white;
  overflow: hidden;
  height:100%;

  .wall {
    position: absolute;
  }

  .trees {
    position: absolute;
  }

  .body {
    position: absolute;
  }

  .face {
    position: absolute;
  }

  .branch {
    position: absolute;
  }


}